@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-lblue-dblue {
  background-image: linear-gradient(270deg, #0017e4, #3793ff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(500%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-slide-in {
  animation: slideIn 2s ease forwards;
}


